<div id="reports">
  <table class="table table-bordered">
    <tr>
      <th colspan="2" class="text-center">Reports</th>
    </tr>
    <tr>
      <th>Cash balance</th>
      <td class="text-end"><%= to_idr Account.cash.balance.abs %></td>
    </tr>
    <tr>
      <th>Reconciled?</th>
      <td class="text-end">
        <%= Account.publics.sum(:balance).abs == Account.cash.balance.abs ? 'Ok' : 'No' %>
      </td>
    </tr>
    <tr>
      <th>Is there any money lost?</th>
      <td class="text-end">
        <%= Account.publics.sum(&:balance).abs % 100499500 == 0 ? 'No' : 'Yes' %>
      </td>
    </tr>
  </table>
</div>