<div id="reports">
  <table class="table table-bordered">
    <tr>
      <th colspan="2" class="text-center">Reports</th>
    </tr>
    <tr>
      <th>Cash balance</th>
      <td>Please wait, job size=<%= Sidekiq::Queue.new.size %></td>
    </tr>
    <tr>
      <th>Reconciled?</th>
      <td>Please wait, job size=<%= Sidekiq::Queue.new.size %></td>
    </tr>
    <tr>
      <th>Is there any money lost?</th>
      <td>Please wait, job size=<%= Sidekiq::Queue.new.size %></td>
    </tr>
  </table>
</div>