<div class="row">
  <div class="col-md-6 m-auto">
    <div class="text-end">
      <span class="fw-bold d-block">Cash balance</span>
      <span><%= to_idr Account.cash.balance.abs %></span>
    </div>
    <hr>
    <table class="table ta">
      <thead>
        <tr>
          <th>Accounts</th>
          <th class="text-end">Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td class="text-end"><%= to_idr account.balance.abs %></td>
          </tr>
        <% end %>
        <tr>
          <td><span class="fw-bold">Total</span></td>
          <td class="text-end"><%= to_idr @accounts.sum(&:balance).abs %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>